@mixin flexMid{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flexColMid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flexColMid2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  @mixin lienBloc {
    display: block;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
  }
  
  @mixin blocs-menu{
    padding: 15px;
    background-color: $bg-blocs;
    border-radius: 15.043px;
    margin-top: 12px;
  }