header {
    padding: 14px 89px 13px 89px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 1;

    .header-logo {
      text-align: center;

        svg {
          height: 36px;
          width: 162px;
        }
    }
}
