* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: roboto;
  position: relative;
}

.contenu {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

header {
  padding: 14px 89px 13px 89px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
}
header .header-logo {
  text-align: center;
}
header .header-logo svg {
  height: 36px;
  width: 162px;
}

body {
  height: 100%;
  font-family: roboto;
  position: relative;
}

/****************** EN-TETE ****************/
header {
  padding: 14px 89px 13px 89px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
header .header_icon {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 17px;
  text-decoration: none;
  color: black;
  height: 30px;
  width: 30px;
}
header .header_icon i {
  font-size: 20px;
  margin: auto;
}
header .header-logo {
  text-align: center;
}
header .header-logo svg {
  height: 36px;
  width: 162px;
}

/************* IMAGE PRIMCIPALE ****************/
.image-principale {
  width: 100%;
  height: 275px;
}
.image-principale img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

/************* CARTES DES RESTAURANTS ****************/
.carte-restaurant {
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  position: absolute;
  z-index: 1;
  top: 300px;
}
.carte-restaurant .title_and_heart {
  display: flex;
  width: 349px;
  margin: 32px auto 40px auto;
}
.carte-restaurant .title_and_heart .title-carte {
  font-size: 28px;
  font-weight: 400;
  font-family: shrikhand;
}
.carte-restaurant .title_and_heart .heart {
  position: relative;
  padding-left: 34px;
}
.carte-restaurant .title_and_heart .heart .vide {
  position: absolute;
}
.carte-restaurant .title_and_heart .heart .full {
  opacity: 0;
  background: linear-gradient(360deg, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition: all 400ms;
}
.carte-restaurant .title_and_heart .heart .full:hover {
  opacity: 1;
}
.carte-restaurant .title_and_heart .heart .vide:hover {
  opacity: 0;
}
.carte-restaurant .title_and_heart .heart i {
  font-size: 27px;
  padding-top: 6px;
}
.carte-restaurant .carte1 {
  animation: flash 0.9s ease-in-out 0.2s;
  animation-fill-mode: both;
}
.carte-restaurant .carte2 {
  animation: flash 0.9s ease-in-out 0.5s;
  animation-fill-mode: both;
}
.carte-restaurant .carte3 {
  animation: flash 0.9s ease-in-out 0.8s;
  animation-fill-mode: both;
}
.carte-restaurant .cartes {
  width: 349px;
  margin: auto;
  margin-bottom: 40px;
}
.carte-restaurant .cartes .txt {
  padding: 15px 0 15px 15px;
  overflow: hidden;
}
.carte-restaurant .cartes .txt > h3, .carte-restaurant .cartes p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.carte-restaurant .cartes .line-and-title-carte {
  width: 275px;
}
.carte-restaurant .cartes .line-and-title-carte .title-menu {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 5px;
}
.carte-restaurant .cartes .line-and-title-carte hr {
  width: 40px;
  border: none;
  height: 3px;
  background-color: #99e2d0;
}
.carte-restaurant .cartes .blocs {
  display: block;
  color: black;
  padding-right: 0;
  background-color: white;
  border-radius: 15.043px;
  margin-top: 12px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.carte-restaurant .cartes .blocs .contenu-blocs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.carte-restaurant .cartes .blocs .contenu-blocs h3 {
  font-weight: 500;
}
.carte-restaurant .cartes .blocs .contenu-blocs p {
  font-size: 15.043px;
  font-weight: 300;
}
.carte-restaurant .cartes .blocs .contenu-blocs .prix {
  display: flex;
  align-items: end;
}
.carte-restaurant .cartes .blocs .contenu-blocs .prix p {
  font-weight: bold;
  padding-bottom: 15px;
  padding-right: 15px;
}
.carte-restaurant .cartes .blocs .contenu-blocs .prix::after {
  content: "";
  width: 59px;
  height: 100%;
  margin-right: -59px;
  background-image: url("/images/Select-button.png");
  background-size: cover;
  transition: 0.3s ease-in-out;
}
@keyframes flash {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
.carte-restaurant .cartes .blocs:hover .prix::after {
  margin-right: 0;
}

/************* TRAIT BLEU ****************/
.line-and-plat {
  width: 275px;
}
.line-and-plat hr {
  width: 40px;
  border: none;
  height: 3px;
  background-color: #99e2d0;
}
.line-and-plat .plat {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 5px;
}

/************* BOUTON "COMMANDER" ****************/
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 40px;
  width: 186px;
  height: 50px;
  border: solid 1px black;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  background: linear-gradient(360deg, #9356dc 0%, #ff79da 100%);
  border: none;
  color: white;
  cursor: pointer;
}
.btn.btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(272deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 1px 1px 20px 7px rgb(222, 219, 219);
  transition: all ease-out 300ms;
  color: rgba(255, 255, 255, 0.872);
}

/************* PIED DE PAGE ****************/
footer {
  top: 1450px;
  z-index: 2;
  position: absolute;
  width: 100%;
  padding: 22px 25px 22px 25px;
  background-color: #353535;
}
footer .logo-footer > img {
  width: 100px;
  margin-bottom: 16px;
  filter: invert(1);
}
footer .info-footer {
  color: #f6f6f6;
}
footer .info-footer p {
  margin-top: 8px;
}
footer .info-footer .p-num-1,
footer .info-footer .p-num-1 > p {
  margin-top: 0;
}
footer .info-footer .p-num-1 {
  display: flex;
  gap: 11px;
}
footer .info-footer .p-num-2 {
  display: flex;
  align-items: end;
  gap: 5px;
}

@media (min-width: 1080px) {
  .carte-restaurant {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }
  .carte-restaurant .cartes {
    width: auto;
  }
  .carte-restaurant .cartes .blocs {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .carte-restaurant .cartes .line-and-title-carte {
    margin-left: 20%;
  }
  /******************** PIED DE PAGE *********************/
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 80px;
    height: 114px;
  }
  footer .logo-footer {
    display: flex;
    align-items: end;
    margin-right: 50px;
  }
  footer .logo-footer img {
    height: 20px;
    margin-bottom: 0;
  }
  footer .info-footer {
    display: flex;
    align-items: end;
  }
  footer .info-footer p, footer .info-footer a {
    margin-right: 30px;
  }
}/*# sourceMappingURL=style2.css.map */