.fonctionnement {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
  
        .fonctionnement, h1 {
          width: 322.486px; 
          margin-bottom: 25px;
          align-self: center;
        }
      
        .les-choix {
          @include flexColMid();
          gap: 25px;
  
              .blocs-fonctionnement {
                @include flexMid();
                position: relative;
                width: 322.486px;
                height: 72.379px;
                border-radius: 20px;
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  
  
                    .mobile, .hambu, .store{
                      position: absolute;
                      top: 24.54px;
                      left: 33.47px;
                      height: 19.90px;
                      width: 13px;
                      color: $icon-fonctionnement;
                    }
                    
                    .store{
                      color: $num-color;
                    }
                  
                    .rond{
                      @include flexMid();
                      position: absolute;
                      left: -13.51px;
                      top: 26.86px;
                      background-color: $num-color;
                      width: 24px;
                      height: 24px;
                      border-radius: 50%;
                      color: $bg-accueil;
                }
              }
    }
  }


  /****************** MEDIA QUERIES **********************/
  @media (min-width: 1080px){

    .fonctionnement{
      display: flex;
      flex-direction: column;
      padding: 0 180px;

          .les-choix{
            flex-direction: row;
            justify-content: start;
            margin-left: 15px;
          }

          h1{
            align-self: flex-start;
          }
    }

    
    
  }