.adresse {
    position: relative;
    background-color: $location-color;
    height: 50px;

    .localisation{
       @include flexMid();
       //top: 16.5px;
       //left: 147px;

          & i{
            margin-right: 17px;
            width: 12px;
            height: 16px;
          }
            
          p{
            line-height: 50px;
            font-size: 16px;
            font-weight: 500;
          }
              
    }
}